/* src/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .footerLinks {
        @apply text-gray-200 font-inter text-[15px] font-[500];
    }

    .freshlyGreenText{
        @apply text-[#008000]
    }

    .freshlyGreen{
        @apply bg-[#008000]
    }

    .cardHeading{
        @apply text-[#008000] ml-[18px] lg:ml-[38px] text-[8.779px] lg:text-[18.238px] w-[149.701px] lg:w-[269.553px]
    }

    /* Custom Tailwind styles for react-calendar */
.react-calendar {
    @apply border-none rounded-lg shadow-lg p-4;
}

.react-calendar__navigation button {
    @apply bg-transparent text-gray-700 font-semibold;
}

.react-calendar__tile--now {
    @apply bg-green-300 rounded-full;
}

.react-calendar__tile--active {
    @apply bg-green-600 text-white rounded-full;
}

.highlight {
    @apply bg-green-500 text-white rounded-full;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}


  }
